:root {
  --keyboard-zindex: 9999;
}

.editor-root {
  position: relative;
}

.editor {
  border: 1px solid black;
  padding: 0 8px;
}

.editor:focus ~ .placeholder {
  opacity: 0.25;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: grey;
  user-select: none;
  pointer-events: none;
  display: inline-block;
  transition: opacity 300ms;
}

/*

    Math Renderer

 */
.math-renderer-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 1px dashed transparent;
  border-radius: 8px;
  transition: border 300ms;
}

.math-renderer-container:hover {
  border: 1px dashed black;
}

.math-renderer {
  font-size: 1.2rem;
  user-select: none;
  pointer-events: none;
}

.math-renderer-delete {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  font-size: 1rem;
  font-weight: bold;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  border: lightgray thin solid;
  cursor: pointer;
  display: none;
  opacity: 0;
  color: red;
  transition: opacity 300ms;
}

.math-renderer-container:hover .math-renderer-delete {
  display: flex;
  opacity: 1;
}
